.Info {
    width: 100%;
    box-sizing: border-box;
    padding: 0 100px;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    color: white;
    &__Elem {
        margin-left: 25px;
        display: inherit;
    }

    &__InsideElem {
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        padding-bottom: 25px;
    }

    &__Tmp {
        font-size: 12rem;
        font-weight: 100;
    }
    &__Cel {
        font-weight: 100;
        font-size: 4rem;
    }

    &__Text {
        padding: 10px;
        &_weightBold {
            font-size: 2rem;
        }
    }
    &__CityName {
        text-transform: capitalize;
    }
}

@media screen and (max-width: 480px) {
    .Info {
        &__Tmp {
            font-size: 4rem;
        }

        &__Cel {
            font-size: 2rem;
        }

        &__Text {
            font-size: 0.7rem;
            &_weightBold {
                font-size: 1rem;
            }
        }
    }
}

@media screen and (max-width: 699px) {
    .Info__Tmp_celcius {
        font-size: 3re;
    }
}

@media screen and (max-width: 700px) {
    .Info {
        &__Tmp {
            font-size: 8rem;
        }

        &__Cel {
            font-size: 3rem;
        }

        &__Text {
            font-size: 0.7rem;
            &_weightBold {
                font-size: 1rem;
            }
        }
    }
    
}

@media screen and (max-width: 900px) {
    .Info {
        padding: 0;
    }
}