$my-gray: #c4c4c44d;

.Dashboard {
    width: 100%;
    height: 100px;
    background-color: rgba(18, 25, 63, 0.16);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.DashboardBoxWrapper {
    width: 350px;
    height: 40px;
    outline: 1px solid gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $my-gray;
    &__LocationWrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        width: 250px;
        height: 100%;
        box-sizing: border-box;
    }
    &__LocationInfo {
        color: white;
        text-transform: capitalize;
        text-align: center;
        display: block;
        margin: 0 20px;
    }
    &__Favorite {
        width: 30px;
        height: 30px;
        box-sizing: border-box;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $my-gray;
        margin: 0 20px 0 0;
        cursor: pointer;
        &:hover {
            background-color: #e2e2e24d;   
        }
    }
    &__Plus {
        font-size: 20px;
        color: white;
        text-align: center;
        display: block;
    }
}

.DashboardBox {
    width: 350px;
    position: absolute;
    box-sizing: border-box;
    padding: 5px;
    top: 70px;
    left: auto;
    background-color: rgb(226, 226, 226);
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    &__Elem {
        display: flex;
        justify-content: space-between;
        &_list {
            flex-direction: column;
        }
    }
    &__Search {
        border: 1px solid gray;
        background-color: rgba(101, 118, 149, 0.5);
        height: 25px;
        padding: 5px;
        color: white;
        width: 250px;
    }
    &__SearchBtn {
        outline: 1px solid gray;
        color: white;
        width: 75px;
        background-color: #3d419d;
    }
}
