.Item {
    width: 100px;
    height: 100px;
    &__Text{
        margin: 0 0 10px 0;
        &_bigger {
            font-size: 2rem;
        }
        & i {
            margin-left: 10px;
        }
    }
}